<table id="cobranza_table" class="table table-striped table-hover table-bordered">
	<thead>
		<tr>
			<th style="width: 100px;"></th>
			<th class="text-center" style="width: 5%;">#</th>
			<th class="text-center" style="width: 10%;">Período</th>
			<th style="width: 25%;">Nombre</th>
			<th style="width: 15%;">Cuota</th>
			<th style="width: 45%;">Notas</th>
		</tr>
	</thead>
</table>