<form class="cobranza" data-cobranza-id="">
	{{#if error}}
	<div class="alert alert-danger" role="alert">
		{{error}}
	</div>
	{{/if}}

	<div class="form-group">
		<label for="cobranza_nombre">Nombre</label>
		<input type="text" class="form-control" id="cobranza_nombre" value="{{nombre}}">
	</div>

	<div class="form-group">
		<label for="cobranza_mes">Mes</label>
		<input type="number" class="form-control" id="cobranza_mes" value="{{mes}}">
	</div>

	<div class="form-group">
		<label for="cobranza_anio">Año</label>
		<input type="number" class="form-control" id="cobranza_anio" value="{{anio}}">
	</div>

	<div class="form-group">
		<label for="cobranza_cuota">Cuota</label>
		<input type="number" class="form-control" id="cobranza_cuota" step="1" min="1" onkeypress="return event.charCode >= 48 && event.charCode <= 57" value="{{cuota}}">
	</div>

	<div class="form-group">
		<label for="cobranza_notas">Notas</label>
		<textarea class="form-control" id="cobranza_notas">{{notas}}</textarea>
	</div>
</form>
