<form class="cobranza">
	{{#if error}}
	<div class="alert alert-danger" role="alert">
		{{error}}
	</div>
	{{/if}}

	<input type="hidden" id="cobranza_id" value="{{cobranza_id}}">
	<div class="form-group">
		<label for="cobranza_nombre">Nombre</label>
		<input type="text" class="form-control" id="cobranza_nombre" value="{{nombre}}">
	</div>

	<div class="form-group">
		<label for="cobranza_notas">Notas</label>
		<textarea class="form-control" id="cobranza_notas">{{notas}}</textarea>
	</div>
</form>
