<h4 class="mb-3">Datos</h4>

<dl class="row">
	<dt class="col-sm-4">Cobranza Nro.:</dt>
	<dd class="col-sm-8">{{cobranza_id}}</dd>

	<dt class="col-sm-4">Nombre:</dt>
	<dd class="col-sm-8">{{nombre}}</dd>

	<dt class="col-sm-4">Período:</dt>
	<dd class="col-sm-8">{{periodo}}</dd>

	<dt class="col-sm-4">Cuota:</dt>
	<dd class="col-sm-8">{{cuota}}</dd>

	<dt class="col-sm-4">Estado:</dt>
	<dd class="col-sm-8">{{estado}}</dd>

	<dt class="col-sm-4">Total recibos:</dt>
	<dd class="col-sm-8">{{total_recibos}}</dd>

	{{#if notas}}
	<dt class="col-sm-4">Notas:</dt>
	<dd class="col-sm-8">{{notas}}</dd>
	{{/if}}
</dl>

<h4 class="mb-3">Informes</h4>
<a href="#" class="btn btn-primary mr-2" data-action="cobranzas.informe" data-cobranza-id="{{cobranza_id}}" data-cobranza-periodo="{{periodo_anio}}-{{periodo_mes}}">Informe</a>
<a href="#" class="btn btn-primary mr-2" data-action="cobranzas.recibos" data-cobranza-id="{{cobranza_id}}" data-cobranza-periodo="{{periodo_anio}}-{{periodo_mes}}">Recibos Cobradores</a>
<a href="#" class="btn btn-primary mr-2" data-action="cobranzas.afip" data-cobranza-id="{{cobranza_id}}" data-cobranza-periodo="{{periodo_anio}}-{{periodo_mes}}">Recibos Afip</a>
<br>
<br>
<br>
<h4 class="mb-3">Acciones</h4>
<a href="#" class="btn btn-warning" data-action="cobranzas.editar" data-cobranza-id="{{cobranza_id}}">Editar cobranza</a>
<a href="#" class="btn btn-danger" data-action="cobranzas.cancelar" data-cobranza-id="{{cobranza_id}}" data-cobranza-periodo="{{periodo_anio}}-{{periodo_mes}}">Cancelar cobranza</a>
