<table id="socios_table" class="table table-striped table-hover">
    <thead>
        <tr>
            <th>#</th>
            <th>Apellido</th>
            <th>Nombre</th>
            <th>Categoria</th>
            <th>Tipo cobranza</th>
            <th>Baja</th>
            <th>&nbsp;</th>
        </tr>
    </thead>
</table>