<form class="ficha-socio" data-socio-id="">
	{{#if error}}
	<div class="alert alert-danger" role="alert">
		{{error}}
	</div>
	{{/if}}

	<h4>Datos Personales</h4>

	<div class="form-group">
		<label for="abm-nombre">Nombres</label>
		<input type="text" class="form-control" id="abm-nombre" value="{{socio.nombre}}">
	</div>

	<div class="form-group">
		<label for="abm-apellido">Apellido</label>
		<input type="text" class="form-control" id="abm-apellido" value="{{socio.apellido}}">
	</div>

	<div class="form-group">
		<label for="abm-documento">Documento</label>
		<input type="number" class="form-control" id="abm-documento" value="{{socio.documento}}">
	</div>

	<div class="form-group">
		<label for="abm-nacimiento">Fecha de nacimiento</label>
		<input type="date" class="form-control" id="abm-nacimiento" value="{{socio.fecha_nacim}}">
	</div>

	<h4>Domicilio</h4>
	<div class="form-group">
		<label for="abm-provincia">Provincia</label>
		<select class="form-control" id="abm-provincia" data-value="{{socio.domicilio_provincia_id}}" data-action="socios.abm.provincia">
			<option value="0"> -- Seleccionar -- </option>
			{{#each provincias}}
				<option value="{{@key}}">{{this.nombre}}</option>
			{{/each}}
		</select>
	</div>

	<div class="form-group d-none">
		<label for="abm-localidad">Localidad</label>
		<select class="form-control" id="abm-localidad" data-value="{{socio.domicilio_localidad_id}}" data-action="socios.abm.localidad">
			<option value="0"> -- Seleccionar -- </option>
			{{#each localidades}}
				<option value="{{@key}}" data-provincia="{{this.provincia_id}}">{{this.nombre}}</option>
			{{/each}}
		</select>
	</div>

	<div class="form-group d-none">
		<label for="abm-calle">Calle</label>
		<input type="text" class="form-control" id="abm-calle" value="{{socio.domicilio_calle}}">
	</div>

	<div class="form-group d-none">
		<label for="abm-altura">Altura</label>
		<input type="number" class="form-control" id="abm-altura" value="{{socio.domicilio_altura}}">
	</div>

	<div class="form-group d-none">
		<label for="abm-dpto">Piso/Depto.</label>
		<input type="text" class="form-control" id="abm-dpto" value="{{socio.domicilio_piso_dpto}}">
	</div>

	<div class="form-group d-none">
		<label for="abm-aclaraciones">Aclaraciones</label>
		<input type="text" class="form-control" id="abm-aclaraciones" value="{{socio.domicilio_aclaraciones}}">
	</div>

	<div class="form-group d-none">
		<label for="abm-postal">Código Postal</label>
		<input type="text" class="form-control" id="abm-postal" value="{{socio.domicilio_cod_postal}}">
	</div>


	<h4>Datos de Contacto</h4>

	<div class="form-group">
		<label for="abm-email">Email</label>
		<input type="email" class="form-control" id="abm-email" value="{{socio.contacto_email}}">
	</div>

	<div class="form-group">
		<label for="abm-telefono">Teléfono</label>
		<input type="text" class="form-control" id="abm-telefono" value="{{socio.contacto_telefono}}">
	</div>

	<div class="form-group">
		<label for="abm-contacto-otros">Otros datos de contacto</label>
		<textarea class="form-control" id="abm-contacto-otros" rows="3">{{socio.contacto_otro}}</textarea>
	</div>

	<!--
	<h4>Autorizados a retirar material</h4>

	<div class="table-responsive">
	<table class="table table-striped table-sm">
		<thead>
			<tr>
				<th>Apellido</th>
				<th>Nombre</th>
				<th>Documento</th>
				<th>Fecha de nacimiento</th>
			</tr>
		</thead>
		<tbody>
			{{#each socio.autorizados}}
			<tr>
				<td><input type="text" class="form-control" id="abm-autorizados{{@index}}-apellido" value="{{this.apellido}}"></td>
				<td><input type="text" class="form-control" id="abm-autorizados{{@index}}-nombre" value="{{this.nombre}}"></td>
				<td><input type="numero" class="form-control" id="abm-autorizados{{@index}}-documento" value="{{this.documento}}"></td>
				<td><input type="date" class="form-control" id="abm-autorizados{{@index}}-nacimiento" value="{{this.fecha_nacim}}"></td>
			</tr>
			{{/each}}
		</tbody>
	</table>
	</div>

	<h4>Convenios</h4>

	{{#each convenios}}
	<div class="custom-control custom-checkbox">
		<input type="checkbox" class="custom-control-input abm-convenio-checkbox" id="abm-convenio-{{@key}}" data-convenio-id="{{@key}}" {{#if this.selected}}checked{{/if}}>
		<label class="custom-control-label" for="abm-convenio-{{@key}}">{{this.nombre}}</label>
	</div>
	{{/each}}
	<br>
	<br>

	{{#each convenios}}

	<div class="card w-100 mb-3 {{#unless this.selected}} d-none{{/unless}}" id="abm-convenio-{{@key}}-data">
		<div class="card-body">
			<h5 class="card-title">{{this.convenio_nombre}}</h5>
			
			<div class="form-group">
				<label for="abm-alta-fecha">Fecha de alta</label>
				<input type="date" class="form-control" id="abm-convenio-{{this.convenio_id}}-alta-fecha" value="{{this.alta_fecha}}">
			</div>

			{{#each this.datos}}
			<div class="form-group abm-convenio-{{../convenio_id}}-datos">
				<label for="abm-convenio_{{../convenio_id}}_{{this}}">{{this}}</label>
				<input type="text" class="form-control" id="abm-convenio_{{../convenio_id}}_{{this}}" value="{{this.value}}">
			</div>
			{{/each}}

			<div class="form-group">
				<label for="abm-baja-fecha">Fecha de baja</label>
				<input type="date" class="form-control" id="abm-convenio-{{this.convenio_id}}-baja-fecha" value="{{this.baja_fecha}}">
			</div>
		</div>
	</div>
	-->
	{{/each}}


	<h4>Medios de pago</h4>

	<div class="form-group">
		<label for="abm-forma_pago">Forma de pago</label>
		<select class="form-control" id="abm-cobranza-forma_pago" data-value="{{socio.cobranza_tipo}}" data-action="socios.abm.cobranza.forma-pago">
			<option value="0"> -- Seleccionar -- </option>
			{{#each formas_pago}}
				<option value="{{@key}}">{{this}}</option>
			{{/each}}
		</select>
	</div>

	<div class="form-group d-none">
		<label for="abm-cobranza-motivo">Motivo por el que paga en biblioteca</label>
		<textarea class="form-control" id="abm-cobranza-motivo" rows="2">{{socio.cobranza_biblioteca_motivo}}</textarea>
	</div>

	<div class="custom-control custom-checkbox d-none" style="margin: 2rem 0 1rem 0;">
		<input type="checkbox" class="custom-control-input" id="abm-cobranza-domicilio-especial" data-action="socios.abm.cobranza.domicilio-especial">
		<label class="custom-control-label" for="abm-cobranza-domicilio-especial">Cobrar en otro domicilio</label>
	</div>

	<div class="form-group d-none">
		<label for="abm-cobranza-domicilio">Domicilio de especial de cobranza</label>
		<textarea class="form-control" id="abm-cobranza-domicilio" rows="2">{{socio.cobranza_cobrador_domicilio}}</textarea>
	</div>

	<div class="form-group d-none">
		<label for="abm-cobranza-dias-horas">Días y horarios de cobranza</label>
		<textarea class="form-control" id="abm-cobranza-dias-horas" rows="2">{{socio.cobranza_cobrador_dias_horas}}</textarea>
	</div>

	<div class="form-group d-none">
		<label for="abm-cobranza-otros-datos">Otros datos para el cobrador</label>
		<textarea class="form-control" id="abm-cobranza-otros-datos" rows="2">{{socio.cobranza_cobrador_otros}}</textarea>
	</div>

	<div class="form-group d-none">
		<label for="abm-cobranza-cobrador">Cobrador asignado</label>
		<select class="form-control" id="abm-cobranza-cobrador" data-value="{{socio.cobranza_cobrador_}}">
			<option value="0"> -- Seleccionar -- </option>
			{{#each cobradores}}
				<option value="{{@key}}">{{this.nombre}}</option>
			{{/each}}
		</select>
	</div>

	<div class="form-group d-none">
		<label for="abm-cobranza-sistema">Sistema de pago</label>
		<select class="form-control" id="abm-cobranza-sistema" data-value="{{socio.cobranza_epago_sistema}}" data-action="socios.abm.cobranza.sistema">
			{{#each sistema_epago}}
				<option value="{{@key}}">{{this}}</option>
			{{/each}}
		</select>
	</div>

	<div class="form-group d-none">
		<label for="abm-cobranza-entidad-local">Entidad local</label>
		<select class="form-control" id="abm-cobranza-entidad-local" data-value="{{socio.cobranza_epago_entidad_local_id}}">
			<option value="0"> -- Seleccionar -- </option>
			{{#each entidades_locales}}
				<option value="{{@key}}">{{this.nombre}}</option>
			{{/each}}
		</select>
	</div>

	<!--
	<div class="form-group d-none">
		<label for="abm-cobranza-tarjeta-numero">Numero de tarjeta</label>
		<input type="text" class="form-control" id="abm-cobranza-tarjeta-numero" value="{{socio.cobranza_epago_tarjeta_numero}}">
	</div>

	<div class="form-group d-none">
		<label for="abm-cobranza-tarjeta-vencimiento">Vencimiento</label>
		<input type="text" class="form-control" id="abm-cobranza-tarjeta-vencimiento" value="{{socio.cobranza_epago_tarjeta_vencimiento}}">
	</div>

	<div class="form-group d-none">
		<label for="abm-cobranza-tarjeta">Tarjeta</label>
		<input type="text" class="form-control" id="abm-cobranza-tarjeta" value="{{socio.cobranza_epago_tarjeta_marca}}">
	</div>

	<div class="form-group d-none">
		<label for="abm-cobranza-entidad">Entidad</label>
		<input type="text" class="form-control" id="abm-cobranza-entidad" value="{{socio.cobranza_epago_entidad_nacional}}">
	</div>

	<div class="form-group d-none">
		<label for="abm-cobranza-cbu">CBU</label>
		<input type="text" class="form-control" id="abm-cobranza-cbu" value="{{socio.cobranza_epago_cuenta_cbu}}">
	</div>
	-->

	<div class="form-group d-none">
		<label for="abm-cobranza-cuenta">Cuenta</label>
		<input type="text" class="form-control" id="abm-cobranza-cuenta" value="{{socio.cobranza_epago_cuenta_numero}}">
	</div>

	<!--
	<div class="form-group d-none">
		<label for="abm-cobranza-titular-nombre">Nombre del Titular</label>
		<input type="text" class="form-control" id="abm-cobranza-titular-nombre" value="{{socio.cobranza_titular_nombre}}">
	</div>

	<div class="form-group d-none">
		<label for="abm-cobranza-titular-documento">Documento del Titular</label>
		<input type="text" class="form-control" id="abm-cobranza-titular-documento" value="{{socio.cobranza_titular_documento}}">
	</div>
	-->

	<div class="custom-control custom-checkbox">
		<input type="checkbox" class="custom-control-input abm-convenio-checkbox" id="abm-cobranza-recibo-afip" {{#if socio.cobranza_recibo_afip}}checked{{/if}}>
		<label class="custom-control-label" for="abm-cobranza-recibo-afip">Emitir recibo AFIP</label>
	</div>

	<!--
	<h4>Observaciones</h4>

	<div class="form-group">
		<label for="abm-cobranza-observaciones" class="sr-only">Observaciones</label>
		<textarea class="form-control" id="abm-cobranza-observaciones" rows="5">{{socio.observaciones}}</textarea>
	</div>
	-->

	<h4>Datos de uso interno</h4>

	<div class="form-group">
		<label for="abm-categoria">Categoría</label>
		<select class="form-control" id="abm-categoria" data-value="{{socio.categoria_id}}" data-action="socios.abm.categoria">
			<option value="0"> -- Seleccionar -- </option>
			{{#each categorias}}
				<option value="{{@key}}">{{this.texto}}</option>
			{{/each}}
		</select>
	</div>

	<div class="form-group d-none">
		<label for="abm-categoria">Socio Protector: Cuotas adicionales</label>
		<input type="number" step="1" min="1" class="form-control" id="abm-categoria-protector-adicionales" value="{{socio.categoria_protector_cuotas_adicionales}}">
	</div>

	<div class="form-group">
		<label for="abm-alta-fecha">Fecha de alta</label>
		<input type="date" class="form-control" id="abm-alta-fecha" value="{{socio.alta_fecha}}">
	</div>

	<!--
	<div class="form-group">
		<label for="abm-alta-data">Informacion de alta</label>
		<input type="text" class="form-control" id="abm-alta-data" value="{{socio.alta_data}}">
	</div>
	-->
</form>
