<div class="ficha-socio">
	<h4>Datos Personales</h4>
	<dl class="row">
		<dt class="col-md-3">Nombre</dt>
		<dd class="col-md-9">{{nombre}}</dd>

		<dt class="col-md-3">Apellido</dt>
		<dd class="col-md-9">{{apellido}}</dd>

		<dt class="col-md-3">Documento</dt>
		<dd class="col-md-9">{{documento}}</dd>

		<dt class="col-md-3">Fecha de nacimiento</dt>
		<dd class="col-md-9">{{fecha_nacim}}</dd>

		<dt class="col-md-3">Domicilio</dt>
		<dd class="col-md-9">{{domicilio}}</dd>
	</dl>


	<h4>Datos de Contacto</h4>
	<dl class="row">
		<dt class="col-md-2">Email</dt>
		<dd class="col-md-10">			
			{{~#if contacto_email~}}
				{{~contacto_email~}}
			{{~else~}}
				-
			{{~/if~}}
		</dd>

		<dt class="col-md-2">Teléfono</dt>
		<dd class="col-md-10">
			{{~#if contacto_telefono~}}
				{{contacto_telefono}}
			{{~else~}}
				-
			{{~/if~}}
		</dd>

		{{~#if contacto_otro}}
			<dt class="col-md-2">Otro</dt>
			<dd class="col-md-10">{{contacto_otro}}</dd>
		{{/if}}
	</dl>

	<!--
	<h4>Autorizados a retirar material</h4>
	<div class="table-responsive">
	<table class="table table-striped table-sm">
		<thead>
			<tr>
				<th>Apellido</th>
				<th>Nombre</th>
				<th>Documento</th>
				<th>Fecha de nacimiento</th>
			</tr>
		</thead>
		<tbody>
			{{#each autorizados}}
				<tr>
					<td>{{this.apellido}}</td>
					<td>{{this.nombre}}</td>
					<td>{{this.documento}}</td>
					<td>{{this.fecha_nacim}}</td>
				</tr>
			{{/each}}
		</tbody>
	</table>
	</div>
	-->

	<!--
	<h4>Convenios</h4>
	<div class="table-responsive">
		<table class="table table-striped table-sm">
			<thead>
				<tr>
					<th>Convenio</th>
					<th>Fecha alta</th>
					<th>Fecha baja</th>
					<th>Datos</th>
				</tr>
			</thead>
			<tbody>
				{{#each convenios}}
					<tr>
						<td>{{this.convenio_nombre}}</td>
						<td>{{this.fecha_alta}}</td>
						<td>
							{{~#if fecha_baja~}}
								{{fecha_baja}}
							{{~else~}}
								-
							{{~/if~}}
						</td>
						<td>
							{{~#each this.datos}}
								<strong>{{this.nombre}}:</strong> {{this.value}}<br>
							{{~/each~}}
						</td>
					</tr>
				{{/each}}
			</tbody>
		</table>
	</div>
	-->

	<h4>Medios de pago</h4>
	<dl class="row">
		<dt class="col-md-4">Forma de pago</dt>
		<dd class="col-md-8">{{cobranza_tipo_name}}</dd>

		{{~#if cobranza_tipo_is_biblioteca~}}
			<dt class="col-md-4">Motivo por el que paga en biblioteca</dt>
			<dd class="col-md-8">{{cobranza_biblioteca_motivo}}</dd>
		{{~/if~}}

		{{~#if cobranza_tipo_is_domicilio~}}
				<dt class="col-md-4">Domicilio de cobranza</dt>
				<dd class="col-md-8">
				{{~#if cobranza_cobrador_domicilio_especial~}}
					{{cobranza_cobrador_domicilio}}
				{{~else~}}
					{{domicilio}}
				{{~/if~}}
				</dd>

			<dt class="col-md-4">Días y horarios de cobranza</dt>
			<dd class="col-md-8">
				{{~#if cobranza_cobrador_dias_horas~}}
					{{cobranza_cobrador_dias_horas}}
				{{~else~}}
					-
				{{~/if~}}
			</dd>

			{{~#if cobranza_cobrador_otros~}}
				<dt class="col-md-4">Otros datos para el cobrador</dt>
				<dd class="col-md-8">{{cobranza_cobrador_otros}}</dd>
			{{~/if~}}
			
			<dt class="col-md-4">Cobrador asignado</dt>
			<dd class="col-md-8">{{cobranza_cobrador_name}}</dd>
		{{~/if~}}

		{{~#if cobranza_tipo_is_electronico~}}
			<dt class="col-md-4">Sistema</dt>
			<dd class="col-md-8">{{cobranza_epago_sistema_name}}</dd>

			{{~#if cobranza_epago_sistema_is_automatico_local~}}
				<dt class="col-md-4">Entidad</dt>
				<dd class="col-md-8">{{cobranza_epago_entidad_local}}</dd>
				
				<!--
				<dt class="col-md-4">Número de tarjeta</dt>
				<dd class="col-md-8">{{cobranza_epago_tarjeta_numero}}</dd>

				<dt class="col-md-4">Vencimiento</dt>
				<dd class="col-md-8">{{cobranza_epago_tarjeta_vencimiento}}</dd>
				-->
			{{~/if~}}

			{{~#if cobranza_epago_sistema_is_automatico_nacional~}}
				<!--
				<dt class="col-md-4">Número de tarjeta</dt>
				<dd class="col-md-8">{{cobranza_epago_tarjeta_numero}}</dd>

				<dt class="col-md-4">Tarjeta</dt>
				<dd class="col-md-8">{{cobranza_epago_tarjeta_marca}}</dd>

				<dt class="col-md-4">Entidad</dt>
				<dd class="col-md-8">{{cobranza_epago_entidad_nacional}}</dd>

				<dt class="col-md-4">Vencimiento</dt>
				<dd class="col-md-8">{{cobranza_epago_tarjeta_vencimiento}}</dd>
				-->
			{{~/if~}}

			{{~#if cobranza_epago_sistema_is_directo_nacional~}}
				<!--
				<dt class="col-md-4">Entidad</dt>
				<dd class="col-md-8">{{cobranza_epago_entidad_nacional}}</dd>

				<dt class="col-md-4">CBU</dt>
				<dd class="col-md-8">{{cobranza_epago_cuenta_cbu}}</dd>
				-->
			{{~/if~}}

			{{~#if cobranza_epago_sistema_is_directo_local~}}
				<dt class="col-md-4">Entidad</dt>
				<dd class="col-md-8">{{cobranza_epago_entidad_local}}</dd>

				<dt class="col-md-4">Número de Cuenta</dt>
				<dd class="col-md-8">{{cobranza_epago_cuenta_numero}}</dd>
			{{~/if~}}

			<!--
			<dt class="col-md-4">Nombre del Titular</dt>
			<dd class="col-md-8">{{cobranza_titular_nombre}}</dd>

			<dt class="col-md-4">Documento del Titular</dt>
			<dd class="col-md-8">{{cobranza_titular_documento}}</dd>
			-->
		{{~/if~}}

		<dt class="col-md-4">Recibo AFIP</dt>
		<dd class="col-md-8">
			{{~#if cobranza_recibo_afip~}}
				SI
			{{~else~}}
				NO
			{{~/if~}}
		</dd>
	</dl>

	{{~#if observaciones~}}
	<!--
	<h4>Otros datos</h4>
	<pre>{{observaciones}}</pre>
	-->
	{{~/if~}}

	<h4>Datos de uso interno</h4>
	<dl class="row">
		<dt class="col-md-3">ID</dt>
		<dd class="col-md-9">{{socio_id}}</dd>

		<dt class="col-md-3">Categoría</dt>
		<dd class="col-md-9">{{categoria}}</dd>

		{{~#if categoria_protector_cuotas_adicionales~}}
		<dt class="col-md-3">Aporte voluntario:</dt>
		<dd class="col-md-9">{{categoria_protector_cuotas_adicionales}} cuotas de socio Activo</dd>
		{{~/if~}}
	

		<dt class="col-md-3">Fecha de Alta</dt>
		<dd class="col-md-9">{{alta_fecha}}</dd>

		{{~#if alta_data~}}
			<!--
			<dt class="col-md-3">Informacion de Alta</dt>
			<dd class="col-md-9">{{alta_data}}</dd>
			-->
		{{~/if~}}

		{{~#if is_baja~}}
			<dt class="col-md-3">Fecha de Baja</dt>
			<dd class="col-md-9">{{baja_fecha}}</dd>

			{{~#if baja_data~}}
				<!--
				<dt class="col-md-3">Informacion de Baja</dt>
				<dd class="col-md-9">{{baja_data}}</dd>
				-->
			{{~/if~}}
		{{~/if~}}

		</dd>

		<dt class="col-md-3">Libro de Socios</dt>
		<dd class="col-md-9">{{num_socio}}</dd>

		<br>
		<br>
		<dt class="col-md-3">Fecha de carga</dt>
		<dd class="col-md-9">{{creacion_fecha}}</dd>
	</dl>
</div>