{{#if exito}}
<div class="alert alert-success" role="alert">
	Se ha {{#if created}}creado{{/if}}{{#if edited}}editado{{/if}}{{#if deleted}}dado de baja{{/if}} exitosamente el socio <strong>{{nombre}}</strong> con el número <strong>{{numero}}</strong>
</div>
{{/if}}