<form class="ficha-socio" data-socio-id="">
	<h4>Confirma que desea dar de baja al socio</h4>

	<dl class="row">
		<dt class="col-md-3">Nombre</dt>
		<dd class="col-md-9">{{nombre}}</dd>

		<dt class="col-md-3">Apellido</dt>
		<dd class="col-md-9">{{apellido}}</dd>

		<dt class="col-md-3">Documento</dt>
		<dd class="col-md-9">{{documento}}</dd>

		<dt class="col-md-3">Libro de Socios</dt>
		<dd class="col-md-9">{{num_socio}}</dd>
	</dl>

	<div class="form-group">
		<label for="abm-baja-fecha">Fecha de baja</label>
		<input type="date" class="form-control" id="abm-baja-fecha" value="{{baja_fecha}}">
	</div>

	<!--
	<div class="form-group">
		<label for="abm-baja-data">Informacion de baja</label>
		<input type="text" class="form-control" id="abm-baja-data">
	</div>
	-->
</form>
