<!DOCTYPE html>
<html lang="es">

<head>
	<meta charset="utf-8">
	<title>Detalle Cobranza</title>
	<style>
		body {
			font-size: 18px;
			font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
		}
		
		h2 {
			text-align: center;
			text-transform: uppercase;
			margin: 0 0 0 0
		}
		
		table {
			width: 100%;
		}
		table td {
			vertical-align: top;
		}

		.divider {
			display: block;
			width: 100%;
			height: 30px;
			margin: 0;
		}
	</style>
</head>

<body>
	<table style="border: 1px solid black; padding: 10px 0;">
		<tr>
			<td style="width: 33%; text-align: center;"><strong>Cobranza<br> </strong>{{ cobranza.nombre }}</td>
			<td style="width: 33%; text-align: center;"><strong>Período<br> </strong>{{ cobranza.periodo_mes }}-{{ cobranza.periodo_anio }}</td>
			<td style="width: 33%; text-align: center;"><strong>Cuota<br> </strong>{{ cobranza.cuota }}</td>
			<td style="width: 33%; text-align: center;"><strong>Estado<br> </strong>{{ cobranza.estado }}</td>
		</tr>
		{% if cobranza.notas %}
		<tr>
			<td colspan="3" style="text-align: center;"><br><strong>Notas<br></strong>{{ cobranza.notas }}</td>
		</tr>
		{% endif %}
	</table>

	<span class="divider"></span>	

	<table style="border: 1px solid black; padding: 10px 0;">
		<tr>
			<td style="text-align: center;"><strong>Total a recaudar: </strong>$ {{ cobranza.stats.global.mount }}</td>
			<td style="text-align: center;"><strong>Total recibos: </strong> {{ cobranza.stats.global.count }}</td>
		</tr>
	</table>

	<span class="divider"></span>	

	<table style="">
		<tr>
			<td style="width: 50%;">
				<div style="border: 1px solid black; padding: 10px 5%; margin: 0 3% 0 0; width: 87%;">
				<h3 style="margin-top: 0; text-align: center;">Cobradores</h3>

				<h4 style="margin-top: 40px; margin-bottom: 0;">Biblioteca</h4>
				<p><strong>&nbsp;&nbsp;&nbsp;&nbsp;TOTAL: </strong>$ {{cobranza.stats.biblioteca.mount}} ({{cobranza.stats.biblioteca.count}})</p>

				<h4 style="margin-top: 40px; margin-bottom: 0;">Domicilio</h4>
				{% for cobrador in cobranza.stats.cobradores_dom %}
				<p><strong>&nbsp;&nbsp;&nbsp;&nbsp;{{cobrador.name}}: </strong>$ {{cobrador.mount}} ({{cobrador.count}})</p>
				{% endfor %}
				<p><strong>&nbsp;&nbsp;&nbsp;&nbsp;TOTAL: </strong>$ {{cobranza.stats.domicilio.mount}} ({{cobranza.stats.domicilio.count}})</p>

				<h4 style="margin-top: 40px; margin-bottom: 0;">Electrónica</h4>
				{% for cobrador in cobranza.stats.cobradores_elec %}
					{% if cobrador.entidades %}
						<p><strong>&nbsp;&nbsp;&nbsp;&nbsp;{{cobrador.name}} </strong></p>
						{% for entidad in cobrador.entidades %}
							<p><strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{entidad.name}}: </strong>$ {{entidad.mount}} ({{entidad.count}})</p>
						{% endfor %}

						<p><strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;TOTAL: </strong>$ {{cobrador.mount}} ({{cobrador.count}})</p>
					{% else %}
						<p><strong>&nbsp;&nbsp;&nbsp;&nbsp;{{cobrador.name}} </strong></p>
						<p><strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;TOTAL: </strong>$ {{cobrador.mount}} ({{cobrador.count}})</p>
					{% endif %}
				{% endfor %}
				<p><strong>&nbsp;&nbsp;&nbsp;&nbsp;TOTAL: </strong>$ {{cobranza.stats.electronica.mount}} ({{cobranza.stats.electronica.count}})</p>
				</div>
			</td>
			<td style="width: 50%;">
				<div style="border: 1px solid black; padding: 10px 5%; margin: 0 0 0 3%; width: 87%;">
				<h3 style="margin-top: 0; text-align: center;">Categorias</h3>
				{% for categoria in cobranza.stats.categorias %}
				<p><strong>{{categoria.name}}: </strong>$ {{categoria.mount}} ({{categoria.count}})</p>
				{% endfor %}
				</div>

				<p><em>Fecha de impresión: {{current_date}}</em></p>
			</td>
		</tr>
	</table>

	<span class="divider"></span>

</body>

</html>