<!DOCTYPE html>
<html lang="es">

<head>
	<meta charset="utf-8">
	<title>Detalle Cobranza</title>
	<style>
		body {
			font-size: 18px;
			font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
		}
		
		h2 {
			text-align: center;
			text-transform: uppercase;
			margin: 0 0 0 0
		}
		
		table {
			width: 100%;
		}
		table td {
			vertical-align: top;
		}

		.divider {
			display: block;
			width: 100%;
			height: 30px;
			margin: 0;
		}
	</style>
</head>

<body>
    <h5 style="margin: 0 0 2rem 0;"><strong>Cobranza:</strong> {{ cobranza }}</h5>

    {% for recibo_afip in recibos_afip %}
    <p style="margin: 0 0 5mm 0; padding: 0 0 0 10mm; text-indent: -10mm;">
        <strong>Socio: </strong>{{ recibo_afip.socio.num_socio }} - <strong>{{ recibo_afip.socio.apellido }}, {{ recibo_afip.socio.nombre }}</strong> ({{ recibo_afip.socio.documento }}) - 
        <strong>Categoria: </strong>{{ recibo_afip.categoria }} - 
        <strong>Cuota: </strong>$ {{ recibo_afip.cuota }} {% if recibo_afip.debito_autom %} - <strong>Cta.: </strong>{{ recibo_afip.socio.cobranza_epago_cuenta_numero }} {% endif %} - 
        <strong>Nro. Recibo Interno: </strong>{{ recibo_afip.recibo_id }}
    </p>
    {% empty %}

    <p>&nbsp;</p>
    <h1 style="font-size: 20px; text-align: center;"><i>- No hay recibos de AFIP en este período -</i></h1>

    {% endfor %}


</body>

</html>
