<!DOCTYPE html>
<html lang="es">
<head>
	<meta content="text/html; charset=UTF-8" http-equiv="content-type">

<script>
function subst() {

	var vars = {};
	var query_strings_from_url = document.location.search.substring(1).split('&');

	for (var query_string in query_strings_from_url) {
		if (query_strings_from_url.hasOwnProperty(query_string)) {
			var temp_var = query_strings_from_url[query_string].split('=', 2);
			vars[temp_var[0]] = decodeURI(temp_var[1]);
		}
	}

	var css_selector_classes = ['page', 'frompage', 'topage', 'webpage', 
		'section', 'subsection', 'date', 'isodate', 'time', 'title', 'doctitle', 
		'sitepage', 'sitepages', 'filtro_txt', 'orden_txt'];

	for (var css_class in css_selector_classes) {

		if (css_selector_classes.hasOwnProperty(css_class)) {
			var element = document.getElementsByClassName(css_selector_classes[css_class]);
			for (var j = 0; j < element.length; ++j) {
				
				if(vars[css_selector_classes[css_class]] != undefined){
					element[j].textContent = vars[css_selector_classes[css_class]].replace(/\+/g, ' ');
				}
			}
		}
	}




	header = document.getElementById(vars.reporte_id).style.display = "block";

}
</script>

<style>
	body {
		font-size: 15px;
		font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
	}
</style>
</head>

<body onload="subst()">
<hr>
<table width="100%">
	<tr>
		<td><!--Greco Socios (v{{version.numbers}})--></td>
		<td style="text-align: right;">Página <span class="page"></span> de <span class="topage"></span></td>
	</tr>
</table>

</body>
</html>