<!DOCTYPE html>
<html lang="es">
<head>
	<meta content="text/html; charset=UTF-8" http-equiv="content-type">
<script>
function subst() {

	var vars = {};
	var query_strings_from_url = document.location.search.substring(1).split('&');

	for (var query_string in query_strings_from_url) {
		if (query_strings_from_url.hasOwnProperty(query_string)) {
			var temp_var = query_strings_from_url[query_string].split('=', 2);
			vars[temp_var[0]] = decodeURI(temp_var[1]);
		}
	}

	var css_selector_classes = ['page', 'frompage', 'topage', 'webpage', 
		'section', 'subsection', 'date', 'isodate', 'time', 'title', 'doctitle', 
		'sitepage', 'sitepages'];

	for (var css_class in css_selector_classes) {

		if (css_selector_classes.hasOwnProperty(css_class)) {
			var element = document.getElementsByClassName(css_selector_classes[css_class]);
			for (var j = 0; j < element.length; ++j) {
				
				if(vars[css_selector_classes[css_class]] != undefined){
					element[j].textContent = vars[css_selector_classes[css_class]].replace(/\+/g, ' ');
				}
			}
		}
	}
}
</script>

<style>
	body {
		font-size: 15px;
		font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
	}
	
	.head-title {
		font-size: 18px;
		line-height: 1.6em;
		margin: 0 0 10px;
		text-align: center;
		width: 100%;
	}

	.head-title strong {
		text-transform: uppercase;
	}
	

	.filtros {
		border-bottom: 1px solid #000;
		margin-bottom: 0.5cm;
		padding: 0 0 5px 0;
		text-align: center;
		width: 100%;
	}

	.filtros td {
		width: 33.33%;
	}


	.listado {
		width: 23.27cm;
	}

	.listado thead {
		font-size: 13px; 
		font-weight: bold; 
		height: 0.7cm;
	}

	.listado thead td {
		font-size: 15px
	}
</style>
</head>

<body onload="subst()">


<div class="head-title">
	<strong>Biblioteca Popular Centro Rivadavia</strong><br>
	<span>{{reporte_nombre}}</span>
</div>



{% if reporte_id == 'listado_bajas' %}
<table class="filtros">
	<tr>
		<td>Desde: {{fecha_desde}} - Hasta: {{fecha_hasta}}</td>
		<td>Orden: {{orden_txt}}.</td>
	</tr>
</table>

<table class="listado">
	<thead>
		<tr>
			<th style="width: 15mm; text-align: right;">Nº SOC</th>
			<th style="width: 30mm; text-align: center;">F. BAJA</th>
			<th style="width: 140mm; text-indent: 5mm; padding-right: 2.5mm; text-align: left;">APELLIDO Y NOMBRE</th>
		</tr>
	</thead>
</table>


{% elif reporte_id == 'listado_cobradores' %}
<table class="listado">
	<thead>
		<tr>
			<td style="width: 5mm; text-align: right;">Nº SOC</td>
			<td style="width: 70mm; text-indent: 5mm; padding-right: 2.5mm;">APELLIDO Y NOMBRE</td>
			<td style="width: 20mm; text-align: right;">DOCUMENTO</td>
			<td style="width: 20mm; text-align: right;">CATEG.</td>
		</tr>
	</thead>
</table>

{% elif reporte_id == 'listado_asamblea' %}
<table class="listado" style="border:1px solid black; border-collapse: collapse;">
	<thead>
		<tr class="header">
			<td style="border:1px solid black; width: 2cm; text-align: center;">NUM. SOC.</td>
			<td style="border:1px solid black; width: 5cm; text-align: center;">APELLIDO</td>
			<td style="border:1px solid black; width: 7cm; text-align: center;">NOMBRE</td>
			<td style="border:1px solid black; width: 2cm; text-align: center;">F. NACIM.</td>
			<td style="border:1px solid black; width: 2cm; text-align: center;">DOCUMENTO</td>
			<td style="border:1px solid black; width: 2cm; text-align: center;">F. ALTA</td>
		</tr>
	</thead>
</table>

<br />

{% elif reporte_id == 'detalle_cobranza' %}
<br>
<br>
{% endif %}

</body>
</html>