<!DOCTYPE html>
<html lang="es">

<head>
	<meta charset="utf-8">
	<title>Listado</title>
	<style>
		body {
			font-size: 18px;
			font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
		}
		
		h2 {
			text-align: center;
			text-transform: uppercase;
			margin: 0 0 0 0
		}
		
		table {
			width: 100%;
		}

		.numero {
			width: 40%
		}
		
		.fecha {
			width: 60%;
			text-align: right
		}
		
		.separator {
			font-size: 1px;
		}
		
		.separator.xs {
			line-height: 1px
		}
		
		.separator.sm {
			line-height: 20px
		}
		
		.separator.md {
			line-height: 40px
		}
		
		.separator.lg {
			line-height: 40px
		}
		
		.cobrador .left {
			width: 2.7cm;
			line-height: 0
		}
		
		.cobrador .right {
			border-bottom: 1px solid #000;
			width: 16.3cm
		}
		
		.liquidacion {
			border-top: 1px solid #000;
			border-right: 1px solid #000;
		}
		
		.liquidacion td,
		.liquidacion th {
			border-left: 1px solid #000;
			border-bottom: 1px solid #000;
			vertical-align: middle;
			font-size: 16px;
			line-height: 16px;
			height: 30px;
		}
		
		.liquidacion td {
			padding: .1cm
		}
		
		.liquidacion th {
			padding: .1cm 0 .07cm
		}
		
		.liquidacion .cant {
			width: 2cm
		}
		
		.liquidacion .detalle {
			width: 9cm
		}
		
		.liquidacion .unitario {
			width: 4cm
		}
		
		.liquidacion .total {
			width: 4cm
		}
		
		.liquidacion .footer {
			text-align: right
		}
		
		.rubrica .dni {
			width: 5cm
		}
		
		.rubrica .firma {
			width: 6cm
		}
		
		.rubrica .aclaracion {
			width: 8cm
		}
		
		.recibo {
			padding: 1cm 0 0 0;
			text-align: justify;
			line-height: 30px
		}
	</style>
</head>

<body>
{% for numero in numeros %}
<h2>LIQUIDACIÓN A COBRADORES</h2>
<p class="separator sm">&nbsp</p>
<table>
	<tr>
		<td class="numero">LIQUIDACIÓN NÚMERO Nº: <strong>{{numero}}</strong></td>
		<td class="fecha">Fecha: _____ de ____________________ de ______</td>
	</tr>
</table>
<p class="separator sm">&nbsp</p>
<table class="cobrador">
	<tr>
		<td class="left">COBRADOR:</td>
		<td class="right"></td>
	</tr>
</table>
<p class="separator sm">&nbsp</p>
<table class="liquidacion">
	<thead>
		<tr>
			<th class="cant">CANT.</th>
			<th class="detalle">DETALLE</th>
			<th class="unitario">UNITARIO</th>
			<th class="total">TOTAL</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
		</tr>
		<tr>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
		</tr>
		<tr>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
		</tr>
		<tr>
			<td colspan="3" class="footer">TOTAL COBRADO:</td>
			<td>&nbsp;</td>
		</tr>
		<tr>
			<td colspan="3" class="footer">COMISIÓN COBRADOR (____ %):</td>
			<td>&nbsp;</td>
		</tr>
		<tr>
			<td colspan="3" class="footer">TOTAL RENDIDO:</td>
			<td>&nbsp;</td>
		</tr>
	</tbody>
</table>
<p class="separator md">&nbsp</p>
<table class="rubrica">
	<tr>
		<td class="firma">Firma:</td>
		<td class="aclaracion">Aclaración:</td>
		<td class="dni">DNI:</td>
	</tr>
</table>
<br>
<hr>
<h2>LIQUIDACIÓN A COBRADORES</h2>
<p class="separator sm">&nbsp</p>
<table>
	<tr>
		<td class="numero">
			LIQUIDACIÓN NÚMERO Nº: <strong>{{numero}}</strong></td>
		<td class="fecha">Fecha: _____ de ____________________ de ______</td>
	</tr>
</table>
<p class="separator sm">&nbsp</p>
<table class="cobrador">
	<tr>
		<td class="left">COBRADOR:</td>
		<td class="right"></td>
	</tr>
</table>
<p class="separator sm">&nbsp</p>
<table class="liquidacion">
	<thead>
		<tr>
			<th class="cant">CANT.</th>
			<th class="detalle">DETALLE</th>
			<th class="unitario">UNITARIO</th>
			<th class="total">TOTAL</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
		</tr>
		<tr>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
		</tr>
		<tr>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
		</tr>
		<tr>
			<td colspan="3" class="footer">TOTAL COBRADO:</td>
			<td>&nbsp;</td>
		</tr>
		<tr>
			<td colspan="3" class="footer">COMISIÓN COBRADOR (____ %):</td>
			<td>&nbsp;</td>
		</tr>
		<tr>
			<td colspan="3" class="footer">TOTAL RENDIDO:</td>
			<td>&nbsp;</td>
		</tr>
	</tbody>
</table>
<p class="separator md">&nbsp</p>
<table class="rubrica">
	<tr>
		<td class="firma">Firma:</td>
		<td class="aclaracion">Aclaración:</td>
		<td class="dni">DNI:</td>
	</tr>
</table>
<p class="recibo">SAN CARLOS CENTRO, ______ DE _______________ DE ______. RECIBI DE LA <strong>{{ globales.organismo.nombre|upper }}</strong>LA SUMA DE PESOS __________________________________ _________________________________________ ($ _________________) EN CONCEPTO DE COMISION POR COBRANZAS SEGÚN LIQUIDACIÓN Nº <strong>{{numero}}</strong></p>
<table class="rubrica">
	<tr>
		<td class="firma">Firma:</td>
		<td class="aclaracion">Aclaración:</td>
		<td class="dni">DNI:</td>
	</tr>
</table>
<br>
<br>
<br>

{% endfor %}
</body>

</html>