{% load humanize %}
<!DOCTYPE html>
<html lang="es">

<head>
	<meta charset="utf-8">
	<title>Listado</title>
	<style>
		body {
			font-size: 12px;
			font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
		}

		.listado {
			/*width: 15cm;*/
			width: 23.27cm;
		}

		.listado tbody tr td {
			font-size: 13px; 
		}

		.listado tbody tr td.header {
			font-size: 18px; 
			font-weight: bold; 
			vertical-align: bottom; 
			line-height: 1cm;
			text-transform: uppercase;
		}
	</style>
</head>

<body>
	<table class="listado">
		<tbody>
		{% regroup socios by cobrador as cobrador_por_grupos %}
		{% for cobrador in cobrador_por_grupos %}
			<tr style="height: 1.4cm;">
				<td colspan="8" class="header">{{ cobrador.grouper }}</td>
			</tr>
			{% for socio in cobrador.list %}
				<tr>
					<td style="width: 5mm; text-align: right;">{{ socio.num_socio }}</td>
					<td style="width: 70mm; text-indent: 5mm; padding-right: 2.5mm;">{{ socio.apellido|add:", "|add:socio.nombre|truncatechars:30 }}</td>
					<td style="width: 20mm; text-align: right;">{{ socio.documento|intcomma }}</td>
					<td style="width: 20mm; text-align: right;">{{ socio.categoria }}</td>
				</tr>
			{% endfor %}
		{% endfor %}
		</tbody>
	</table>
</body>

</html>