<!DOCTYPE html>
<html lang="es">

<head>
<meta charset="utf-8">
<title>Listado</title>
<style>
	body {
		font-size: 14px;
		font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
	}
</style>
</head>

<body>
	<table class="listado">
	{% for socio in socios %}
		<tr style="height: 0.7cm;">
			<td style="width: 15mm; text-align: right;">{{ socio.num_socio }}</td>
			<td style="width: 30mm; text-align: center;">{{ socio.baja_fecha|date:"SHORT_DATE_FORMAT" }}</td>
			<td style="width: 140mm; text-indent: 5mm; padding-right: 2.5mm; text-align: left;">{{ socio.apellido|add:", "|add:socio.nombre }}</td>
		</tr>{% empty %}
		<tr style="height: 0.7cm;">
			<td style="width: 100%;" colspan="4"><em>No hay registros que cumplan los criterios.</em></td>
		</tr>
	{% endfor %}
	</table>
</body>
</html>