{% load humanize %}
<!DOCTYPE html>
<html lang="es">

<head>
	<meta charset="utf-8">
	<title>Listado</title>
	<style>
		body {
			font-size: 12px;
			font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
		}

		.listado {
			border: 1px;
			border-collapse: collapse;
			width: 23.27cm;
		}

		.listado tr.header {
			font-size: 13px; 
			font-weight: bold; 
			height: 0.7cm;
			text-align: center;
		}

		.listado tr.header td {
			border: 1px solid black;
			font-size: 14px;
			text-align: center;
		}

		.listado tbody tr td {
			font-size: 14px;
			border: 1px solid black;
			border-collapse: collapse;
			padding: 2px;
		}
	</style>
</head>

<body>
	<br>
	<p style="text-align: center; font-weight: bold; font-size: 18px; line-height: 1.6em;">ASAMBLEA GENERAL ORDINARIA DEL {{ fecha_asamblea|date:"d/m/Y" }}</p>
	<p style="font-size: 14px; line-height: 1.6em;">Fecha límite de ingreso del socio para estar habilitado a votar: <strong>{{ fecha_ingreso_habilitados|date:"d/m/Y" }}</strong></p>
	<p style="font-size: 14px; line-height: 1.6em;">Fecha límite de nacimiento del socio para tener la mayoría de edad al momento de la asamblea: <strong>{{ fecha_edad_habilitados|date:"d/m/Y" }}</strong></p>
	<p style="font-size: 14px; line-height: 1.6em;">Total de socios con derecho a voto: <strong>{{ total_socio_habilitados }}</strong></p>
	<br>
	<br>
	<table class="listado">
		<tbody>
		<tr class="header">
			<td>NUM. SOC.</td>
			<td>APELLIDO</td>
			<td>NOMBRE</td>
			<td>F. NACIM.</td>
			<td>DOCUMENTO</td>
			<td>F. ALTA</td>
		</tr>
		{% for socio in socios %}
			<tr>
				<td style="text-align: center; width: 2cm;">{{ socio.num_socio|stringformat:"04d" }}</td>
				<td style="width: 5cm;">{{ socio.apellido }}</td>
				<td style="width: 7cm;">{{ socio.nombre }}</td>
				<td style="text-align: center; width: 2cm;">{{ socio.fecha_nacim|date:"d/m/Y" }}</td>
				<td style="text-align: center; width: 2cm;">{{ socio.documento|intcomma }}</td>
				<td style="text-align: center; width: 2cm;">{{ socio.alta_fecha|date:"d/m/Y" }}</td>
			</tr>
		{% endfor %}
		</tbody>
	</table>
</body>

</html>