<!DOCTYPE html>
<html lang="es">

<head>
	<meta charset="utf-8">
	<title>Recibos cobradores</title>
	<style>
		.row {
			border-bottom: 1px solid #000; 
			margin: 0; 
			max-height:6.9cm;
			overflow: hidden;
			page-break-inside:avoid;
			width: 24.27cm;
		}

		.recibo {
			box-sizing: border-box;
			float: left;
			height: 6.9cm;
			padding: 0.25cm;
			position: relative;
			width: 50%;
		}

		p {
			font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
			font-size: 16px; 
			line-height: 1.1em; 
			margin: 0; 
			padding: 0; 
		}
		
		small {
			font-style: 0.9em;
		}

		p.organismo {
			text-align: center;
		}

		h1 {
			font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
			text-align: center;
			font-weight: bold;
			font-size: 20px;
			margin: 0;
			padding: 0;
			text-transform: uppercase;
		}

		.par-recibos div.sello div {
			font-family: Arial, Helvetica, Verdana;
			font-size: 25px;
			font-weight: bold;
			position: relative;
			text-align: center;
			top: -120px;
			left: 10px;
			transform: rotate(-25deg);
			width: 49%;
		}
		
		.leyenda {
			font-weight: bold;
			position: absolute;
			text-align: center;

			top: 2.5cm;
			left: 0;
			width: 100%;
			height: 50px;
			line-height: 50px;

			font-size: 35px;

			transform: rotate(-30deg);
		}

        .new-page {
            page-break-before: always;
            margin: 0;
            padding: 0;
            height: 0;
            display: block;
		}

	</style>
</head>

<body>
{% regroup recibos by cobrador_group as cobrador_por_groupos %}

{% for recibos in cobrador_por_groupos %}
{% for item in recibos.list %}
<div class="row">
	{% for i in 12|make_list %}
	<div class="recibo" {% if i == '1' %} style="border-right: 1px solid #000;" {% endif %}>
		<h1>Biblioteca Popular Centro Rivadavia</h1>
		<p class="organismo">
			Wütrich 27 - San Carlos Centro<br>
			Te. +54 03404 422129 - CUIT: 30692386597
			<br />
			<small>
				biblioteca@centrorivadavia.com.ar - www.centrorivadavia.com.ar<br />
			</span>
			Reconocimiento CONABIP: 0461
		</p>
		<p style="margin: 5px 0 0 0;">
			<strong>Recibo Nro.: </strong>{{ item.recibo_id }}<br>
			<strong>Socio: </strong>{{ item.socio.num_socio }} - <strong>{{ item.socio.apellido }}, {{ item.socio.nombre }}</strong><br>
			<strong>Domicilio: </strong>{{ item.socio.domicilio_calle }} {{ item.socio.domicilio_altura }} - {{ item.socio.domicilio_localidad }}<br>
			<strong>Período: </strong>{{ item.cobranza.periodo_anio }}-{{ item.cobranza.periodo_mes|stringformat:"02d" }} - <strong>Cuota: </strong>$ {{ item.cuota }} {% if item.debito_autom %} - <strong>Cta.: </strong>{{ item.socio.cobranza_epago_cuenta_numero }} {% endif %}<br>
			<strong>Categoria: </strong>{{ item.categoria }} - <strong>Cobrador: </strong>{% if item.cobranza_tipo == 'e' %}Débito{% endif %}{% if item.cobranza_tipo == 'b' %}Biblioteca{% endif %}{% if item.cobranza_tipo == 'd' %}{{ item.cobrador }}{% endif %}<br>
		</p>

		{% if item.anular_anulado %}
			<p><br><strong>Anulado Motivo: </strong>{{ item.anular_motivo }}</p>
			<p class="leyenda">ANULADO</p>

		{% elif item.cobrador.debito_autom %}
			<p class="leyenda">DÉBITO AUTOMÁTICO</p>

		{% elif item.pago_pagado %}
			<p class="leyenda">PAGADO</p>

		{% elif item.recibo_afip %}
			<p><br>Se emitió recibo de AFIP.</p>
			<p class="leyenda">PROVISORIO</p>
		{% endif %}
	</div>
	{% endfor %}
</div>
{% endfor %}
<span class="new-page"></span>
{% empty %}

<p>&nbsp;</p>
<h1 style="font-size: 20px; text-align: center;"><i>- No hay recibos que coincidan con los filtros utilizados -</i></h1>

{% endfor %}

</body>

</html>
