.dataTables_scrollHead{
	position: sticky !important;
    top: 42px !important;
    background-color: white !important;
    z-index: 10 !important;
}

.dataTables_scrollHead table {
    margin: 0 !important;
}

#cobranza_table td {
	vertical-align: middle;
}
