.header-actions .btn-primary:not(:disabled):not(.disabled).active {
	background-color: var(--secondary);
	border-color: var(--secondary);
}

.dataTables_wrapper {
	position: relative;
}

.dataTables_processing {
	background: rgba(52, 73, 94, 0.8);
	color: #fff;
	font-size: 1.7rem;
	height: 100%;
	padding: 3rem;
	position: absolute;
	text-align: center;
	top: 0;
	width: 100%;
	z-index: 1;
}

.dataTables_processing span {
	display: block;
}

.dataTable tbody tr {
	cursor: pointer;
}

.dataTable tbody .actions {
	text-align: right;
}

.dataTable tbody .actions .btn {
	padding: 0;
	display: none;
}

.dataTable tbody tr:hover .actions .btn  {
	display: inline;
}


.ficha-socio h4 {
	margin: 2rem 0 1rem;
	border-bottom: 1px solid #e2e2e2;
	padding: 0 0 0.4rem 0.4rem;
}





/*
.modal-footer {
	text-align: center
}

.table-header {
	background-color: #efefef;
	border-radius: 3px;
	padding: 10px;
	margin: 0 0 20px 0
}

.socios_abm .nav-tabs {
	border: none;
	margin: 0 0 25px 0
}

.socios_abm .nav-tabs>li {
	margin: 0 0 0 10px;
}

.socios_abm .nav-tabs>li:first-child {
	margin: 0;
}

.socios_abm .nav-tabs>li:first-child a {
	padding-left: 0
}

.socios_abm .nav-tabs>li:after,
.socios_abm .nav-tabs>li:before {
	border-color: transparent;
	border-left-color: #428bca;
	border-style: solid;
	border-width: 7px 0 7px 6px;
	content: '';
	left: 100%;
	margin: 14px 0 0 0;
	position: absolute;
	top: 0;
	z-index: 1
}

.socios_abm .nav-tabs>li:after {
	margin-left: -1px;
	z-index: 2;
	border-left-color: #fff
}

.socios_abm .nav-tabs>li:last-child:after,
.socios_abm .nav-tabs>li:last-child:before {
	display: none
}

.socios_abm .nav-tabs>li>a {
	border: none;
	position: relative;
}

.socios_abm .nav-tabs>li>a:hover {
	background-color: transparent;
	color: #333
}

.socios_abm .nav-tabs>li.active>a,
.socios_abm .nav-tabs>li.active>a:hover,
.socios_abm .nav-tabs>li.active>a:focus {
	border: none;
	color: #4cae4c;
	font-weight: 700
}

.socios_abm .nav-tabs>li.active:before {
	border-left-color: #4cae4c
}

.socios_abm .tab-content {
	margin-bottom: 25px;
	height: 250px;
}

.socios_abm .tab-content .row {
	margin-bottom: 20px
}

.socios_abm .table-domicilios .tipo {
	width: 10%
}

.socios_abm .table-domicilios .acciones {
	width: 13%
}

.socios_abm .table-domicilios .btn+.btn {
	margin: 0 0 0 5px
}

.socios_abm .table-domicilios .codpos {
	width: 15%
}

.socios_abm .table-domicilios .domicilio_codposC {
	display: inline-block;
	margin: 0 0 0 5px;
	width: 60px
}

.socios_abm .table-contacto {
	table-layout: fixed;
}

.socios_abm .table-contacto .tipo {
	width: 65px
}

.socios_abm .table-contacto .acciones {
	width: 90px
}

.socios_abm .table-contacto .dato {
	width: 180px;
	word-wrap: break-word
}

.socios_abm .table-contacto .btn+.btn {
	margin: 0 0 0 5px
}

.socios_abm textarea {
	height: 80px
}

.form-response .alert {
	display: none
}

.socios_detalles h1 {
	margin-top: 0;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	font-size: 30px
}

.socios_detalles h3 {
	margin-top: 0;
}

.socios_detalles h3 span {
	font-size: .7em;
}

.socios_detalles h3 span strong {
	font-size: 1.4em;
	margin: 0 0 0 15px
}

.socios_detalles h3 span+span {
	margin: 0 0 0 50px
}

.socios_detalles .socio_img {
	width: 80px;
	position: absolute;
	top: 0;
	left: 15px
}

.socios_detalles .head {
	padding: 0 0 0 115px;
	position: relative;
	margin: 0 0 20px 0
}

.socios_detalles dt {
	margin-top: 10px;
}

.socios_detalles dt:first-child {
	margin-top: 0
}

.socios_detalles dd {
	margin-left: 30px
}
*/