body {
	font-family: 'Lato';
	font-size: 16px;
}

header.title {
	background-color: #ecf0f1;
	margin: 0 0 20px 0;
	padding: 10px 0;
}

header.title h1 {
	margin: 7px 0;
	font-size: 1.5em
}

footer {
	background-color: var(--primary);
	color: #fff;
	margin: 100px 0 0 0;
	padding: 20px 0;
}

footer p {
	margin: 0;
	font-weight: 300;
}

footer p a {
	font-weight: 400;
	color: #ecf0f1;
}

footer p a:hover {
	color: #ecf0f1
}


iframe {
	width: 100%;
	height: 400px;
	border: none;
}

.navbar-primary {
	padding: 0;
}

.navbar-primary .navbar-nav .nav-link {
	color: #fff;
	padding: 15px 12px;
	height: 50px;
    line-height: 20px;
}

.navbar-primary .navbar-nav .active > .nav-link,
.navbar-primary .navbar-nav .nav-link.active,
.navbar-primary .navbar-nav .nav-link.show,
.navbar-primary .navbar-nav .show > .nav-link {
	background-color: #2980b9;
	color: #fff
}

.navbar-primary .navbar-nav .nav-link:focus,
.navbar-primary .navbar-nav .nav-link:hover {
	background-color: #3498db;
	color: #fff
}

.navbar-primary .dropdown-menu {
	background-color: var(--primary);
	border: none;
	border-radius: 0;
	margin: 0;
	padding: 0;
	min-width: 100%;
}

.navbar-primary .dropdown-item {
	color: #fff;
	padding: 12px 12px
}
.navbar-primary .active .dropdown-item
.navbar-primary .dropdown-item:focus {
	background-color: #2980b9;
	color: #fff
}

.navbar-primary .dropdown-item:hover,
.navbar-primary .active .dropdown-item:hover {
	background-color: #3498db;
	color: #fff
}

.navbar-primary .dropdown-item .icon,
.navbar-primary .nav-link .icon{
	margin: 0 2px 0 0;
	font-size: 1.2em;
	display: inline-block;
	text-align: center;
	width: 28px
}

.header-actions {
	display: flex;
	justify-content: flex-end;
}
.header-actions .btn {
	margin-left: 1rem;
}






/**
 Modals
 */
#modal .modal-loader {
	text-align: center;
	padding: 50px 0;
	font-size: 3em
}



/*
iframe {
	border: none
}

img {
	width: 100%
}

input::-moz-focus-inner {
	border: 0
}

object,
embed {
	outline: 0
}

section {
	min-height: 430px
}



.btn {
	transition: all .2s ease-in-out
}

.btn+.btn {
	margin: 0 0 0 20px
}

.chart-legend {
	list-style: none;
}

.chart-legend li {
	display: inline-block;
	margin: 0 10px;
}

.chart-legend li span {
	display: inline-block;
	height: 10px;
	margin-right: 5px;
	width: 10px
}

.legend-right .chart-legend {
	float: right;
	width: 220px;
	overflow-x: hidden;
}

.legend-right .chart-legend li {
	display: block;
	position: relative;
}

.legend-right .chart-legend li span {
	position: absolute;
	top: 7px;
	left: -20px
}

.panel-default {
	border-color: #34495e;
}

.panel-default>.panel-heading {
	color: #fff;
	background-color: #34495e;
	border-color: #34495e
}

.scrollable {
	overflow-x: auto;
	max-height: 435px
}

.table>tbody>tr>td {
	vertical-align: middle;
}











@media screen and (max-height:800px) {
	.scrollable {
		height: 450px
	}
}

@media screen and (max-height:800px) {
	#impresionModaliframe {
		height: 450px
	}
}

@media screen and (max-height:790px) {
	.modal-body {
		max-height: 500px
	}
}

*/