<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	
	<title>Greco Socios</title>
		
	<link rel="icon" type="image/png" href="{{STATIC_URL}}img/apple-touch-icon-precomposed.png">
	
	<!--******************************************************************-->
	<!--************************ Javascript Files ************************-->
	<script src="{{STATIC_URL}}vendor/jquery/jquery.min.js"></script>
	<script src="{{STATIC_URL}}vendor/jquery/jquery.cookie.js"></script>
	<script src="{{STATIC_URL}}vendor/popper.js/popper.min.js"></script>
	<script src="{{STATIC_URL}}vendor/bootstrap4/js/bootstrap.min.js"></script>

	<script src="{{STATIC_URL}}vendor/handlebars.js/handlebars.min.js"></script>
	
	<script src="{{STATIC_URL}}vendor/fontawesome5/js/all.js"></script> <!--load all styles -->
	
	<script src="{{STATIC_URL}}js/helpers.js"></script>
	<script src="{{STATIC_URL}}js/utils.js"></script>
	<script src="{{STATIC_URL}}js/forms.js"></script>

	{%block scripts %}{%endblock%}


	<!--******************************************************************-->
	<!--******************************  CSS  *****************************-->
	<link rel="stylesheet" href="{{STATIC_URL}}vendor/font-lato/css/lato.css">
	
	<link rel="stylesheet" href="{{STATIC_URL}}vendor/bootstrap4/css/bootstrap.min.css">
	
	<link rel="stylesheet" href="{{STATIC_URL}}css/styles.css">

	{%block styles %}{%endblock%}
</head>
<body class="{% block body_class %}{%endblock%}">

<nav class="navbar navbar-primary sticky-top navbar-expand-lg navbar-dark bg-primary">
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>
	
	<div class="container">
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav mr-auto">
			{% for item in menu %}
				{% if item.sub %}
					<li class="nav-item dropdown {% if item.url in request.get_full_path %}active{% endif %} {% if item.url == '#' %}disabled{% endif %}">
						<a class="nav-link dropdown-toggle" href="{{item.url}}" data-toggle="dropdown">
							<span class="icon"><i class="{{item.ico}}"></i></span>
							{{item.title}}
						</a>
					
						<div class="dropdown-menu">
						{% for subitem in item.sub %}
							<a class="dropdown-item {% if request.get_full_path == subitem.url %}active{% endif %} {% if subitem.url == '#' %}off{% endif %}" href="{{subitem.url}}">
								<span class="icon"><i class="{{subitem.ico}}"></i></span>{{subitem.title}}
							</a>
						{% endfor %}
						</div>
					</li>
				
				{% else %}
					<li class="nav-item {% if request.get_full_path == item.url %}active{% endif %}">
						<a href="{{item.url}}" class="nav-link"><i class="{{item.ico}}"></i>&nbsp;{{item.title}}</a>
					</li>
				{% endif %}
			{% endfor %}

				<li class="nav-item">
					<a href="http://phpmyadmin-greco.bib:8091" target="_blank" class="nav-link"><i class="fas fa-download"></i>&nbsp;Copias de seguridad</a>
				</li>
			</ul>
		</div>
	</div>
</nav>

<header class="title">
	<div class="container">
		<div class="row">
			<div class="col-md-3"><h1 id="page-title"></h1></div>
			<div class="col-md-9 header-actions"></h1></div>
		</div>
		
	</div>
</header>
	
<section class="container">
	<article>
	</article>
</section>

<!-- Modal-->
<div id="modal" class="modal fade" tabindex="-1" role="dialog">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title"></h5>

				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<div class="modal-loader"><i class="fas fa-circle-notch fa-spin"></i></div>
			</div>
			<div class="modal-footer"></div>
		</div>
	</div>
</div>

<footer>
	<div class="container">
		<div class="row">
			<div class="col-md-4">
				<p>Greco Socios &copy; 2012 - {% now "Y" %} Panuweb</p>
			</div>
			<div class="col-md-8">
				<p class="pull-right">Desarrollado por <a href="https://panuweb.com/" target="_blank">Mauricio Panuncio</a></p>
			</div>
		</div>
	</div>
</footer>

</body>

</html>