{% extends 'base.html' %}

{%block styles %}
	<link rel="stylesheet" href="{{STATIC_URL}}vendor/DT-FixedHeader/css/fixedHeader.dataTables.min.css">

	<link rel="stylesheet" href="{{STATIC_URL}}css/cobranza.css">
{%endblock%}

{% block scripts %}
	<script src="{{STATIC_URL}}vendor/DataTables/js/jquery.dataTables.min.js"></script>
	<script src="{{STATIC_URL}}vendor/DT-FixedHeader/js/dataTables.fixedHeader.min.js"></script>

	<script src="{{STATIC_URL}}js/cobranzas/app.js"></script>
	<script src="{{STATIC_URL}}js/cobranzas/menu.js"></script>
	<script src="{{STATIC_URL}}js/cobranzas/table.js"></script>
	<script src="{{STATIC_URL}}js/cobranzas/amb.js"></script>
	<script src="{{STATIC_URL}}js/cobranzas/create.js"></script>
	<script src="{{STATIC_URL}}js/cobranzas/events.js"></script>
{%endblock%}

{% block contenido %}{%endblock%}
