{% extends 'base.html' %}

{%block styles %}
	<link rel="stylesheet" href="{{STATIC_URL}}vendor/DT-FixedHeader/css/fixedHeader.dataTables.min.css">

	<link rel="stylesheet" href="{{STATIC_URL}}css/socios.css">
{%endblock%}

{% block scripts %}
	<script src="{{STATIC_URL}}vendor/DataTables/js/jquery.dataTables.min.js"></script>
	<script src="{{STATIC_URL}}vendor/DT-FixedHeader/js/dataTables.fixedHeader.min.js"></script>

	<script src="{{STATIC_URL}}js/socios/events.js"></script>
	<script src="{{STATIC_URL}}js/socios/table.js"></script>
	<script src="{{STATIC_URL}}js/socios/file.js"></script>
	<script src="{{STATIC_URL}}js/socios/abm.js"></script>
	<script src="{{STATIC_URL}}js/socios/extras.js"></script>
	<script src="{{STATIC_URL}}js/socios/app.js"></script>
{%endblock%}

{% block contenido %}{%endblock%}
